* {
  color: aliceblue;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  padding: 40px;
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  margin-bottom: 20px;
}

form {
  background-color: #111;
  width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid #444;
}

label {
  text-align: left;
  font-size: 14px;
  margin-bottom: -10px;
}

input,
button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #555;
  background-color: black;
  color: white;
}

button {
  cursor: pointer;
  background-color: #222;
  transition: background 0.3s;
}

button:hover {
  background-color: #444;
}

.radio, .checkbox {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
}

footer {
  margin-top: 20px;
  font-size: 14px;
  color: #888;
}
